.MyImage{
    border-radius: 25px;
    /* border: 20px solid #660b05; */
   box-shadow: 30px 20px 20px  #3E0703;
}
.btn{
    height: 50px;
    background-color:#3E0703 ;
    color: #fff0c4;
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 20px;
    box-shadow: 10px 10px 10px #3E0703;
}
.btn:hover{
    background-color: #660b05;
}
.btn:active{
    box-shadow: 10px 10px 10px black;
    border: 2px solid black;
    scale: 0.95;
}
pre{
    font-size: 60px;
    font-weight: 700;
}
.button{
    line-height: 6rem;
    margin-left: 15rem;
}
.button p{
    font-size: 2rem;
    margin-left: 2rem;
}
.intro{
    margin: 8rem 3rem;
}
.work{
     margin: 8rem 3rem;
}

