html{
box-sizing: border-box;
 scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Roboto", sans-serif;
  
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color: #F9F8F6;
    color: #000;
    overflow-x: hidden;
    
}
a{
    text-decoration: none;
    color: inherit;
}

/* header styling  */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #D9CFC7;
    box-shadow: 0px 2px 8px rgba(25, 23, 26, 0.411);
    z-index: 1000;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header ul li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.3s ease;
}
header ul li:first-child{
    font-size: 2.4rem;
}
 /* main body */
 /* intro section styling */
 main{
    width: 100%;
 }
.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    padding: 3rem;
    width: 100%;
}
.intro div{
    height: 50%;
    width: 50%;
}
.intro-image img{
   width: 80%;
    border-radius: 50%;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
    margin-right: 1rem;
}
.intro-para{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}
.about{
    border-left: #000 5px solid;
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 30px;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.about h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.about p{
    font-size: 1.5rem;
    line-height: 1.6rem;
}

/* #resume styling  */
.resume-main-heading{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 3rem 0;
}
.resume-box{
    border-left: 5px solid #000;
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.resume-box h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.resume-box ul li{
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
   font-weight: 500;

}
.education ul li{
   display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;

}

/* project section styling */
.project-main-heading{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 3rem 0;
}
.project-box{
    border-left: 5px solid #000;
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
}
.project-box a{
    text-decoration: none;
    color: inherit;
}
.project-card{
    width: 280px;
    height: 320px;
    padding:0.8rem;
    text-align: center;
}
.project-card img{
    width: 90%;
    height: 85%;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    padding: 0.1rem;
}
.project-card p{
    font-weight: 600;
    font-size: 1.2rem;
}
.project-box a:hover{
    transform: scale(1.03);
    transition: all 0.3s ease;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

/* main end */

/* footer styling */
footer{
    text-align: center;
    padding: 1rem;
    background-color: #C9B59C;
    color: #000;
    box-shadow: 0px -2px 8px rgba(25, 23, 26, 0.411);
    margin-top: 3rem;
    width: 100%;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.contact-main-heading{
    font-size: 2.5rem;
    font-weight: 700;
}
.social-icon{
    font-size: 2rem;
    margin: 0 2rem;
    transition: all 0.3s ease;
    padding: 0.5rem;
    font-size: 3rem;
    border-radius: 50%;
    color: rgb(46, 21, 80);
}

footer p{
    font-size: 1.2rem;
    padding-top: 1.3rem;
    margin:0 2rem 2rem 2rem;
    border-top: 2px solid #000;
}

/* responsiveness */
@media (max-width: 1000px){
    .intro{
        flex-direction: column;
        text-align: center;
    }
    .intro div{
        width: 80%;
        height: auto;
    }
    .intro-image img{
        width: 50%;
        margin: 0 auto 1rem auto;
    }
    .project-box{
        flex-direction: column;
    }
    .project-card{
        margin-bottom: 2rem;
    }
}